{sys, [
       {lib_dirs, ["../deps", "../.."]},
       {rel, "riak_proxycfg", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         riak_proxycfg
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_proxycfg"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, lager, [{incl_cond, include}]},
       {app, riak_proxycfg, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "riak_proxycfg"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/riak_proxycfg", "bin/riak_proxycfg"},
           {copy, "files/riak_proxycfg.cmd", "bin/riak_proxycfg.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
